<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adwareextensions</key>
	<array>
		<string>cinema +</string>
		<string>cinema ploos</string>
		<string>cinema-plus</string>
		<string>flashmall</string>
		<string>gophoto-it</string>
		<string>gophoto.it</string>
		<string>omnibar</string>
		<string>searchme</string>
		<string>shopping assistant</string>
		<string>shopy mate</string>
		<string>slick savings</string>
		<string>spigot</string>
	</array>
	<key>blacklist</key>
	<array>
		<string>.download.plist</string>
		<string>.ltvbit.plist</string>
		<string>.plist</string>
		<string>.update.plist</string>
		<string>EJKQobosSE1lKM.plist</string>
		<string>FypbVky.plist</string>
		<string>Jack.plist</string>
		<string>PremierOpinion.plist</string>
		<string>PremierOpinionAgent.plist</string>
		<string>QEsg5glWvaf.plist</string>
		<string>SngyBb9iL.plist</string>
		<string>cinema-+-hd.ver</string>
		<string>cinema-+-hd_updater.plist</string>
		<string>cinema-+-hd_updater.sh</string>
		<string>cinema-+-pro1-1.ver</string>
		<string>cinema-+-pro1-1_enabler.plist</string>
		<string>cinema-+-pro1-1_enabler.sh</string>
		<string>cinema-+-pro1-1_updater.plist</string>
		<string>cinema-+-pro1-1_updater.sh</string>
		<string>cinema-+lus.ver</string>
		<string>cinema-+lus_updater.plist</string>
		<string>cinema-+lus_updater.sh</string>
		<string>cinema-ploos.ver</string>
		<string>cinema-ploos_enabler.plist</string>
		<string>cinema-ploos_enabler.sh</string>
		<string>cinema-ploos_updater.plist</string>
		<string>cinema-ploos_updater.sh</string>
		<string>cinema-plus-1-1.ver</string>
		<string>cinema-plus-1-1_enabler.plist</string>
		<string>cinema-plus-1-1_enabler.sh</string>
		<string>cinema-plus-1-1_updater.plist</string>
		<string>cinema-plus-1-1_updater.sh</string>
		<string>cinemapro1-2_enabler.plist</string>
		<string>cinemapro1-2_enabler.sh</string>
		<string>cinemas-+-plus-+.ver</string>
		<string>cinemas-+-plus-+_enabler.plist</string>
		<string>cinemas-+-plus-+_enabler.sh</string>
		<string>cinemas-+-plus-+_updater.plist</string>
		<string>cinemas-+-plus-+_updater.sh</string>
		<string>com.318f1a93714a6464.agent.plist</string>
		<string>com.Easy-Shopper.agent.plist</string>
		<string>com.EasyShopper.agent.plist</string>
		<string>com.Hot-Shoppy.agent.plist</string>
		<string>com.HotShoppy.agent.plist</string>
		<string>com.LiveShoppers.agent.plist</string>
		<string>com.MTWB.Product.plist</string>
		<string>com.MacUpdater.agent.plist</string>
		<string>com.My-ShopMate.agent.plist</string>
		<string>com.MyMacUpdater.agent.plist</string>
		<string>com.MyShopMate.agent.plist</string>
		<string>com.MySoftUpdate.agent.plist</string>
		<string>com.MyUpdater.agent.plist</string>
		<string>com.ShopTool.agent.plist</string>
		<string>com.Shopperify.agent.plist</string>
		<string>com.Shoppy-Tool.agent.plist</string>
		<string>com.ShoppyTool.agent.plist</string>
		<string>com.Smart-Shoppy.agent.plist</string>
		<string>com.SmartShoppy.agent.plist</string>
		<string>com.Software-Updater.agent.plist</string>
		<string>com.SoftwareUpdater.agent.plist</string>
		<string>com.Surf-Buyer.agent.plist</string>
		<string>com.SurfBuyer.agent.plist</string>
		<string>com.SurfMate.agent.plist</string>
		<string>com.Udfjheds.plist</string>
		<string>com.WebShopper.oiuqw343sQ9a.helpd.plist</string>
		<string>com.WebShopper.oiuqw343sQ9a.plist</string>
		<string>com.WebShoppy.agent.plist</string>
		<string>com.WebTools.oiuqw343sQ9a.helpd.plist</string>
		<string>com.WebTools.oiuqw343sQ9a.plist</string>
		<string>com.adscleaner.hlpradc.plist</string>
		<string>com.appart.AppArt.plist</string>
		<string>com.applicationstats.AppStats.plist</string>
		<string>com.cinema-plus-1-1.agent.plist</string>
		<string>com.cinemapro1-2.agent.plist</string>
		<string>com.codecm.uploader.plist</string>
		<string>com.conduit.loader.agent.plist</string>
		<string>com.derangeable.preferences.plist</string>
		<string>com.e777e3897002b122.daemon.plist</string>
		<string>com.e777e3897002b122.helper.plist</string>
		<string>com.ebonmedia.appswell.helper.plist</string>
		<string>com.extensions.updater60094.agent.plist</string>
		<string>com.extensions.updater60094.ver</string>
		<string>com.extensions.updater67619.agent.plist</string>
		<string>com.extensions.updater67619.ver</string>
		<string>com.extensions.updater69337.agent.plist</string>
		<string>com.extensions.updater69337.ver</string>
		<string>com.flashmall.agent.plist</string>
		<string>com.goacemjobhmmbdlbbfjgifjcojdfnjfm.updater.plist</string>
		<string>com.iobit.AMCDaemon.plist</string>
		<string>com.jdibackup.JustCloud.autostart.plist</string>
		<string>com.jdibackup.JustCloud.backupstart.plist</string>
		<string>com.jdibackup.JustCloud.notify.plist</string>
		<string>com.jdibackup.JustCloud.signup.plist</string>
		<string>com.jdibackup.MyPCBackup.autostart.plist</string>
		<string>com.jdibackup.MyPCBackup.backupstart.plist</string>
		<string>com.jdibackup.MyPCBackup.notify.plist</string>
		<string>com.jdibackup.OnlineBackup.autostart.plist</string>
		<string>com.jdibackup.OnlineBackup.notify.plist</string>
		<string>com.jdibackup.YesBackup.autostart.plist</string>
		<string>com.jdibackup.YesBackup.backupstart.plist</string>
		<string>com.jdibackup.YesBackup.notify.plist</string>
		<string>com.luteofuscescent.preferences.plist</string>
		<string>com.macalive.agent.update.plist</string>
		<string>com.macalive.protect.update.plist</string>
		<string>com.macalive.status.update.plist</string>
		<string>com.macalive.view.update.plist</string>
		<string>com.macmechanic.mmhlpr.plist</string>
		<string>com.mediageer.agent.update.plist</string>
		<string>com.mediageer.refactor.update.plist</string>
		<string>com.mediageer.status.update.plist</string>
		<string>com.mediahm.operator.update.plist</string>
		<string>com.mediateem.helper.update.plist</string>
		<string>com.mediateem.utils.update.plist</string>
		<string>com.mentmac.service.update.plist</string>
		<string>com.misotheistic.agent.plist</string>
		<string>com.moeppfdpoohhdcaefbfpmabjipnohiif.updater.plist</string>
		<string>com.mopt.hmopt.plist</string>
		<string>com.notapple3.plist</string>
		<string>com.onlineapplicationnotice.AppNotice.plist</string>
		<string>com.onlineapplicationrequest.AppRequest.plist</string>
		<string>com.onlineapplicationstatus.AppStatus.plist</string>
		<string>com.pandermite.preferences.plist</string>
		<string>com.pcv.hlpramc.plist</string>
		<string>com.pcv.hlpramcn.plist</string>
		<string>com.perion.searchprotectd.plist</string>
		<string>com.player.agent.update.plist</string>
		<string>com.player.execut.update.plist</string>
		<string>com.player.navigate.update.plist</string>
		<string>com.products.execut.update.plist</string>
		<string>com.reviversoft.MacReviver.FileSystemHelper.plist</string>
		<string>com.reviversoft.macreviver.antithefthelper.plist</string>
		<string>com.sourcekp.helper.update.plist</string>
		<string>com.sourcekp.navigate.update.plist</string>
		<string>com.sourcekp.refactor.update.plist</string>
		<string>com.sourcekp.utils.update.plist</string>
		<string>com.sourcesoftwarehub.AppTech.plist</string>
		<string>com.spigot.ApplicationManager.plist</string>
		<string>com.spigot.SearchProtection.plist</string>
		<string>com.taurean.preferences.plist</string>
		<string>com.techy.mohlp.plist</string>
		<string>com.unionsoftwareonline.AppMonitor.plist</string>
		<string>com.unnoble.preferences.plist</string>
		<string>com.updater.mce.plist</string>
		<string>com.updater.mcy.plist</string>
		<string>com.updater.watch.mce.plist</string>
		<string>com.updater.watch.mcy.plist</string>
		<string>com.userhelper.execut.update.plist</string>
		<string>com.veoh.webplayer.startup.plist</string>
		<string>com.viewmc.agent.update.plist</string>
		<string>com.webhelper.plist</string>
		<string>com.webshoppers.agent.plist</string>
		<string>com.webtools.uninstaller.plist</string>
		<string>com.webtools.update.agent.plist</string>
		<string>com.youbit.agent.update.plist</string>
		<string>com.youbit.execut.update.plist</string>
		<string>com.youbit.status.update.plist</string>
		<string>downloadspeedtester.notification.plist</string>
		<string>flashmall.ver</string>
		<string>flashmall_enabler.plist</string>
		<string>flashmall_enabler.sh</string>
		<string>gUpdater.plist</string>
		<string>macsearch.plist</string>
		<string>palmall-1-2.ver</string>
		<string>palmall-1-2_enabler.plist</string>
		<string>palmall-1-2_enabler.sh</string>
		<string>palmall-1-2_updater.plist</string>
		<string>palmall-1-2_updater.sh</string>
		<string>pdfpronto.notification.plist</string>
		<string>pronto.notification.plist</string>
		<string>pronto.update.plist</string>
		<string>rXtY1BRVSMskF.plist</string>
		<string>shopper-helper-pro_enabler.plist</string>
		<string>shopper-helper-pro_updater.plist</string>
		<string>shopy-mate.ver</string>
		<string>shopy-mate_enabler.plist</string>
		<string>shopy-mate_updater.plist</string>
		<string>shopy-mate_updater.sh</string>
		<string>yeti.notification.plist</string>
		<string>zrUpdater.plist</string>
	</array>
	<key>blacklist_match</key>
	<array>
		<string>2b631d5c1dd65354</string>
		<string>2e4697b92e2d541c</string>
		<string>347d5015ea877e68</string>
		<string>66e297156a720826</string>
		<string>6a2af1eb1742318c</string>
		<string>Arcahol</string>
		<string>Asistents</string>
		<string>Bagonrock</string>
		<string>Beardpond</string>
		<string>Bilabordnet</string>
		<string>Boydubed</string>
		<string>Brasshour</string>
		<string>Buildupstage</string>
		<string>Cateorg</string>
		<string>Cazeoffice</string>
		<string>Celipsow</string>
		<string>Cucumberhead</string>
		<string>Dailybugget</string>
		<string>Duckokong</string>
		<string>Eliaho</string>
		<string>Emptovo</string>
		<string>Epolife</string>
		<string>Feelbegin</string>
		<string>Fleecompliment</string>
		<string>Follysway</string>
		<string>Fozhand</string>
		<string>Fragilepottery</string>
		<string>Friendlysocket</string>
		<string>Goldraiven</string>
		<string>Gwenrose</string>
		<string>Hollyarrow</string>
		<string>InKeepr</string>
		<string>InstallMC</string>
		<string>InstallMac</string>
		<string>Jakecares</string>
		<string>Jangoram</string>
		<string>Javeview</string>
		<string>Jimbrie</string>
		<string>Joyround</string>
		<string>Kiboletshual</string>
		<string>Kuklorest</string>
		<string>Labradorean</string>
		<string>Leperdvil</string>
		<string>Lexside</string>
		<string>Listchack</string>
		<string>Logicwhatever</string>
		<string>Lunaticake</string>
		<string>Mainorne</string>
		<string>Manroling</string>
		<string>Montageobox</string>
		<string>Mykotlerino</string>
		<string>Myppes</string>
		<string>Nariabox</string>
		<string>Olivernetko</string>
		<string>Oliverto</string>
		<string>Opinteks</string>
		<string>Oriveg</string>
		<string>Otwexplain</string>
		<string>Pagerpost</string>
		<string>Pastcost</string>
		<string>Perfetnight</string>
		<string>Plasticumbrella</string>
		<string>Portsayd</string>
		<string>Qamails</string>
		<string>Qroficce</string>
		<string>Quitelex</string>
		<string>Ratplee</string>
		<string>Salometer</string>
		<string>SearchMoose</string>
		<string>Shelfsick</string>
		<string>Shockmute</string>
		<string>Shroomcourt</string>
		<string>Smacklek</string>
		<string>Smokyashan</string>
		<string>Smokycap</string>
		<string>StrtPoint</string>
		<string>Swissfist</string>
		<string>Texiday</string>
		<string>Totiteck</string>
		<string>Trovi</string>
		<string>Trustnokogiri</string>
		<string>Useaget</string>
		<string>Wharkike</string>
		<string>Wolfnknite</string>
		<string>Worthut</string>
		<string>Youppes</string>
		<string>Yourforth</string>
		<string>Zabaglione</string>
		<string>Zebrouss</string>
		<string>acetaldehydase</string>
		<string>albuminogenoushomoeoblastic</string>
		<string>amphibrachfasciculate</string>
		<string>antinomic</string>
		<string>antistrophic</string>
		<string>asoffertest</string>
		<string>b7e0b18688b4ef0d</string>
		<string>bc5f0574cff96e01</string>
		<string>bisquepreachify</string>
		<string>bradleyhairif</string>
		<string>burnwood</string>
		<string>clypealrevoice</string>
		<string>com.Installer.completer</string>
		<string>conduit</string>
		<string>corticose</string>
		<string>crossrider</string>
		<string>d56a51a9a1942f5c</string>
		<string>d7ab4878bfe6e0f3</string>
		<string>evangelistic</string>
		<string>fervid</string>
		<string>flashmall_updater</string>
		<string>geneio</string>
		<string>genieo</string>
		<string>graminousriser</string>
		<string>heizenberg</string>
		<string>honorariumvascularize</string>
		<string>idiomorphism</string>
		<string>isocitric</string>
		<string>leptophyllous</string>
		<string>minahassanaverin</string>
		<string>mitigantkhu</string>
		<string>myiodesopsiasedimentate</string>
		<string>nonchalkyforeguidance</string>
		<string>nonrestitutionsubsquadron</string>
		<string>nonrupturestatics</string>
		<string>nontribal</string>
		<string>oxychromatin</string>
		<string>parietary</string>
		<string>philippicheracleopolitan</string>
		<string>phycoerythrin</string>
		<string>prehostile</string>
		<string>presmoothnonascertaining</string>
		<string>protomonostelicenvironal</string>
		<string>raggednessheliastic</string>
		<string>reddendoelectrogilding</string>
		<string>retraction</string>
		<string>runted</string>
		<string>shorten</string>
		<string>sodioaurousrougy</string>
		<string>spekboom</string>
		<string>spigot</string>
		<string>splanchnosclerosisfloriken</string>
		<string>subfiguredisbelieving</string>
		<string>surmisedly</string>
		<string>susurrationreputableness</string>
		<string>syconiumneurhypnology</string>
		<string>terebinthus</string>
		<string>tetraedron</string>
		<string>thickskulledanthropolatry</string>
		<string>truthykelvin</string>
		<string>uashsul</string>
		<string>uathechyer</string>
		<string>ucereng</string>
		<string>udannalmos</string>
		<string>uenthinge</string>
		<string>unduplicablemichoacan</string>
		<string>unfurrednonoperating</string>
		<string>unysgar</string>
		<string>upertino</string>
		<string>uquoroden</string>
		<string>uschiwarkin</string>
		<string>uvayt</string>
		<string>vinologistsyrianic</string>
		<string>volleyingly</string>
		<string>vsearch</string>
	</array>
	<key>blacklist_suffix</key>
	<array>
		<string>.net-preferences.plist</string>
		<string>Upd.plist</string>
	</array>
</dict>
</plist>
