<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chips</key>
	<array>
		<string>5y10</string>
		<string>5y10a</string>
		<string>5y10c</string>
		<string>5y31</string>
		<string>5y51</string>
		<string>5y70</string>
		<string>5y71</string>
		<string>787</string>
		<string>797</string>
		<string>807</string>
		<string>807ue</string>
		<string>817</string>
		<string>827</string>
		<string>827e</string>
		<string>837</string>
		<string>847</string>
		<string>847e</string>
		<string>857</string>
		<string>867</string>
		<string>877</string>
		<string>887</string>
		<string>887e</string>
		<string>897</string>
		<string>907</string>
		<string>917</string>
		<string>927</string>
		<string>957</string>
		<string>967</string>
		<string>977</string>
		<string>987</string>
		<string>997</string>
		<string>3104</string>
		<string>3106</string>
		<string>3755u</string>
		<string>3855u</string>
		<string>3865u</string>
		<string>3955u</string>
		<string>3965u</string>
		<string>3965y</string>
		<string>4108</string>
		<string>4109t</string>
		<string>4110</string>
		<string>4112</string>
		<string>4114</string>
		<string>4114t</string>
		<string>4116</string>
		<string>4116t</string>
		<string>4405u</string>
		<string>4405y</string>
		<string>4410y</string>
		<string>4415u</string>
		<string>4415y</string>
		<string>5115</string>
		<string>5117</string>
		<string>5117f</string>
		<string>5118</string>
		<string>5119t</string>
		<string>5120</string>
		<string>5120t</string>
		<string>5122</string>
		<string>6126</string>
		<string>6126f</string>
		<string>6126t</string>
		<string>6128</string>
		<string>6130</string>
		<string>6130f</string>
		<string>6130t</string>
		<string>6132</string>
		<string>6134</string>
		<string>6134m</string>
		<string>6136</string>
		<string>6138</string>
		<string>6138f</string>
		<string>6138t</string>
		<string>6140</string>
		<string>6140m</string>
		<string>6142</string>
		<string>6142f</string>
		<string>6142m</string>
		<string>6144</string>
		<string>6146</string>
		<string>6148</string>
		<string>6148f</string>
		<string>6150</string>
		<string>6152</string>
		<string>6154</string>
		<string>6161</string>
		<string>8124</string>
		<string>8124m</string>
		<string>8153</string>
		<string>8156</string>
		<string>8158</string>
		<string>8160</string>
		<string>8160f</string>
		<string>8160m</string>
		<string>8160t</string>
		<string>8164</string>
		<string>8168</string>
		<string>8170</string>
		<string>8170f</string>
		<string>8170m</string>
		<string>8173m</string>
		<string>8175</string>
		<string>8175m</string>
		<string>8176</string>
		<string>8176f</string>
		<string>8176m</string>
		<string>8180</string>
		<string>8180m</string>
		<string>b710</string>
		<string>b720</string>
		<string>b730</string>
		<string>b800</string>
		<string>b810</string>
		<string>b810e</string>
		<string>b815</string>
		<string>b820</string>
		<string>b830</string>
		<string>b840</string>
		<string>b860e</string>
		<string>b940</string>
		<string>b950</string>
		<string>b960</string>
		<string>b970</string>
		<string>b980</string>
		<string>d-1518</string>
		<string>d-1520</string>
		<string>d-1521</string>
		<string>d-1527</string>
		<string>d-1528</string>
		<string>d-1529</string>
		<string>d-1531</string>
		<string>d-1537</string>
		<string>d-1539</string>
		<string>d-1540</string>
		<string>d-1541</string>
		<string>d-1548</string>
		<string>d-1557</string>
		<string>d-1559</string>
		<string>d-1567</string>
		<string>d-1571</string>
		<string>d-1577</string>
		<string>e3-1205_v6</string>
		<string>e3-1220_v5</string>
		<string>e3-1220_v6</string>
		<string>e3-1225_v5</string>
		<string>e3-1225_v6</string>
		<string>e3-1230_v5</string>
		<string>e3-1230_v6</string>
		<string>e3-1235l_v5</string>
		<string>e3-1240_v5</string>
		<string>e3-1240_v6</string>
		<string>e3-1240l_v5</string>
		<string>e3-1245_v5</string>
		<string>e3-1245_v6</string>
		<string>e3-1260l_v5</string>
		<string>e3-1268l_v5</string>
		<string>e3-1270_v5</string>
		<string>e3-1270_v6</string>
		<string>e3-1275_v5</string>
		<string>e3-1275_v6</string>
		<string>e3-1280_v5</string>
		<string>e3-1280_v6</string>
		<string>e3-1284l_v3</string>
		<string>e3-1285_v6</string>
		<string>e3-1501l_v6</string>
		<string>e3-1501m_v6</string>
		<string>e3-1505l_v5</string>
		<string>e3-1505l_v6</string>
		<string>e3-1505m_v5</string>
		<string>e3-1505m_v6</string>
		<string>e3-1515m_v5</string>
		<string>e3-1535m_v5</string>
		<string>e3-1535m_v6</string>
		<string>e3-1545m_v5</string>
		<string>e3-1558l_v5</string>
		<string>e3-1565l_v5</string>
		<string>e3-1575m_v5</string>
		<string>e3-1578l_v5</string>
		<string>e3-1585_v5</string>
		<string>e3-1585l_v5</string>
		<string>e5-1603_v4</string>
		<string>e5-1607_v4</string>
		<string>e5-1620_v4</string>
		<string>e5-1630_v4</string>
		<string>e5-1650_v4</string>
		<string>e5-1660_v4</string>
		<string>e5-1680_v4</string>
		<string>e5-2603_v4</string>
		<string>e5-2608l_v4</string>
		<string>e5-2609_v4</string>
		<string>e5-2618l_v4</string>
		<string>e5-2620_v4</string>
		<string>e5-2623_v4</string>
		<string>e5-2628l_v4</string>
		<string>e5-2630_v4</string>
		<string>e5-2630l_v4</string>
		<string>e5-2637_v4</string>
		<string>e5-2640_v4</string>
		<string>e5-2643_v4</string>
		<string>e5-2648l_v4</string>
		<string>e5-2650_v4</string>
		<string>e5-2650l_v4</string>
		<string>e5-2658_v4</string>
		<string>e5-2660_v4</string>
		<string>e5-2667_v4</string>
		<string>e5-2670_v4</string>
		<string>e5-2673_v4</string>
		<string>e5-2679_v4</string>
		<string>e5-2680_v4</string>
		<string>e5-2682_v4</string>
		<string>e5-2683_v4</string>
		<string>e5-2686_v4</string>
		<string>e5-2687w_v4</string>
		<string>e5-2689_v4</string>
		<string>e5-2689a_v4</string>
		<string>e5-2690_v4</string>
		<string>e5-2695_v4</string>
		<string>e5-2696_v4</string>
		<string>e5-2697_v4</string>
		<string>e5-2697a_v4</string>
		<string>e5-2698_v4</string>
		<string>e5-2699_v4</string>
		<string>e5-2699a_v4</string>
		<string>e5-2699r_v4</string>
		<string>e5-4610_v4</string>
		<string>e5-4620_v4</string>
		<string>e5-4627_v4</string>
		<string>e5-4628l_v4</string>
		<string>e5-4640_v4</string>
		<string>e5-4650_v4</string>
		<string>e5-4655_v4</string>
		<string>e5-4660_v4</string>
		<string>e5-4667_v4</string>
		<string>e5-4669_v4</string>
		<string>e7-2803</string>
		<string>e7-2820</string>
		<string>e7-2830</string>
		<string>e7-2850</string>
		<string>e7-2860</string>
		<string>e7-2870</string>
		<string>e7-4807</string>
		<string>e7-4820</string>
		<string>e7-4830</string>
		<string>e7-4850</string>
		<string>e7-4860</string>
		<string>e7-4870</string>
		<string>e7-8830</string>
		<string>e7-8837</string>
		<string>e7-8850</string>
		<string>e7-8860</string>
		<string>e7-8867l</string>
		<string>e7-8870</string>
		<string>g3900</string>
		<string>g3900e</string>
		<string>g3900t</string>
		<string>g3900te</string>
		<string>g3902e</string>
		<string>g3920</string>
		<string>g3930</string>
		<string>g3930e</string>
		<string>g3930t</string>
		<string>g3930te</string>
		<string>g3950</string>
		<string>g4400</string>
		<string>g4400t</string>
		<string>g4400te</string>
		<string>g4500</string>
		<string>g4500t</string>
		<string>g4520</string>
		<string>g4560</string>
		<string>g4560t</string>
		<string>g4600</string>
		<string>g4600t</string>
		<string>g4620</string>
		<string>g4900</string>
		<string>g4900t</string>
		<string>g4920</string>
		<string>g4930</string>
		<string>g4930t</string>
		<string>g4950</string>
		<string>g5400</string>
		<string>g5400t</string>
		<string>g5420</string>
		<string>g5420t</string>
		<string>g5500</string>
		<string>g5500t</string>
		<string>g5600</string>
		<string>g5600t</string>
		<string>g5620</string>
		<string>i3-330e</string>
		<string>i3-330m</string>
		<string>i3-330um</string>
		<string>i3-350m</string>
		<string>i3-370m</string>
		<string>i3-380m</string>
		<string>i3-380um</string>
		<string>i3-390m</string>
		<string>i3-2308m</string>
		<string>i3-2310e</string>
		<string>i3-2310m</string>
		<string>i3-2312m</string>
		<string>i3-2328m</string>
		<string>i3-2330e</string>
		<string>i3-2330m</string>
		<string>i3-2332m</string>
		<string>i3-2340ue</string>
		<string>i3-2348m</string>
		<string>i3-2350lm</string>
		<string>i3-2350m</string>
		<string>i3-2355m</string>
		<string>i3-2357m</string>
		<string>i3-2365m</string>
		<string>i3-2367m</string>
		<string>i3-2370lm</string>
		<string>i3-2370m</string>
		<string>i3-2375m</string>
		<string>i3-2377m</string>
		<string>i3-2390m</string>
		<string>i3-2393m</string>
		<string>i3-2394m</string>
		<string>i3-2395m</string>
		<string>i3-2397m</string>
		<string>i3-6006u</string>
		<string>i3-6098p</string>
		<string>i3-6100</string>
		<string>i3-6100e</string>
		<string>i3-6100h</string>
		<string>i3-6100t</string>
		<string>i3-6100te</string>
		<string>i3-6100u</string>
		<string>i3-6102e</string>
		<string>i3-6120t</string>
		<string>i3-6157u</string>
		<string>i3-6167u</string>
		<string>i3-6300</string>
		<string>i3-6300t</string>
		<string>i3-6320</string>
		<string>i3-6320t</string>
		<string>i3-7007u</string>
		<string>i3-7100</string>
		<string>i3-7100e</string>
		<string>i3-7100h</string>
		<string>i3-7100t</string>
		<string>i3-7100u</string>
		<string>i3-7101e</string>
		<string>i3-7101te</string>
		<string>i3-7102e</string>
		<string>i3-7110u</string>
		<string>i3-7120</string>
		<string>i3-7120t</string>
		<string>i3-7130u</string>
		<string>i3-7167u</string>
		<string>i3-7300</string>
		<string>i3-7300t</string>
		<string>i3-7310t</string>
		<string>i3-7310u</string>
		<string>i3-7320</string>
		<string>i3-7320t</string>
		<string>i3-7340</string>
		<string>i3-7350k</string>
		<string>i3-8000</string>
		<string>i3-8000t</string>
		<string>i3-8020</string>
		<string>i3-8020t</string>
		<string>i3-8100</string>
		<string>i3-8100t</string>
		<string>i3-8120</string>
		<string>i3-8120t</string>
		<string>i3-8300t</string>
		<string>i3-8320</string>
		<string>i3-8320t</string>
		<string>i3-8350k</string>
		<string>i3-9000</string>
		<string>i3-9000t</string>
		<string>i3-9100</string>
		<string>i3-9100t</string>
		<string>i3-9300</string>
		<string>i3-9300t</string>
		<string>i5-7y54</string>
		<string>i5-7y57</string>
		<string>i5-430m</string>
		<string>i5-430um</string>
		<string>i5-450m</string>
		<string>i5-460m</string>
		<string>i5-470um</string>
		<string>i5-480m</string>
		<string>i5-520e</string>
		<string>i5-520m</string>
		<string>i5-520um</string>
		<string>i5-540m</string>
		<string>i5-540um</string>
		<string>i5-560m</string>
		<string>i5-560um</string>
		<string>i5-580m</string>
		<string>i5-2410m</string>
		<string>i5-2415m</string>
		<string>i5-2430m</string>
		<string>i5-2435m</string>
		<string>i5-2450m</string>
		<string>i5-2467m</string>
		<string>i5-2475m</string>
		<string>i5-2477m</string>
		<string>i5-2487m</string>
		<string>i5-2490m</string>
		<string>i5-2497m</string>
		<string>i5-2510e</string>
		<string>i5-2515e</string>
		<string>i5-2520m</string>
		<string>i5-2537m</string>
		<string>i5-2540lm</string>
		<string>i5-2540m</string>
		<string>i5-2547m</string>
		<string>i5-2557m</string>
		<string>i5-2560lm</string>
		<string>i5-2560m</string>
		<string>i5-2580m</string>
		<string>i5-4570r</string>
		<string>i5-4670r</string>
		<string>i5-5350h</string>
		<string>i5-5575r</string>
		<string>i5-5675c</string>
		<string>i5-5675r</string>
		<string>i5-6198du</string>
		<string>i5-6200u</string>
		<string>i5-6260u</string>
		<string>i5-6267u</string>
		<string>i5-6287u</string>
		<string>i5-6300hq</string>
		<string>i5-6300u</string>
		<string>i5-6350hq</string>
		<string>i5-6360u</string>
		<string>i5-6400</string>
		<string>i5-6400t</string>
		<string>i5-6402p</string>
		<string>i5-6440eq</string>
		<string>i5-6440hq</string>
		<string>i5-6442eq</string>
		<string>i5-6500</string>
		<string>i5-6500t</string>
		<string>i5-6500te</string>
		<string>i5-6585r</string>
		<string>i5-6600</string>
		<string>i5-6600k</string>
		<string>i5-6600t</string>
		<string>i5-6685r</string>
		<string>i5-7200u</string>
		<string>i5-7210u</string>
		<string>i5-7260u</string>
		<string>i5-7267u</string>
		<string>i5-7287u</string>
		<string>i5-7300hq</string>
		<string>i5-7300u</string>
		<string>i5-7360u</string>
		<string>i5-7400</string>
		<string>i5-7400t</string>
		<string>i5-7440eq</string>
		<string>i5-7440hq</string>
		<string>i5-7442eq</string>
		<string>i5-7500</string>
		<string>i5-7500t</string>
		<string>i5-7600</string>
		<string>i5-7600k</string>
		<string>i5-7600t</string>
		<string>i5-7640x</string>
		<string>i5-8250u</string>
		<string>i5-8300h</string>
		<string>i5-8305g</string>
		<string>i5-8350u</string>
		<string>i5-8400</string>
		<string>i5-8400b</string>
		<string>i5-8400h</string>
		<string>i5-8400t</string>
		<string>i5-8420</string>
		<string>i5-8420t</string>
		<string>i5-8500</string>
		<string>i5-8500b</string>
		<string>i5-8500t</string>
		<string>i5-8550</string>
		<string>i5-8600k</string>
		<string>i5-8650</string>
		<string>i5-8650k</string>
		<string>i5-9400</string>
		<string>i5-9400t</string>
		<string>i5-9500</string>
		<string>i5-9600</string>
		<string>i5-9600k</string>
		<string>i7-7y75</string>
		<string>i7-610e</string>
		<string>i7-620le</string>
		<string>i7-620lm</string>
		<string>i7-620m</string>
		<string>i7-620ue</string>
		<string>i7-620um</string>
		<string>i7-640lm</string>
		<string>i7-640m</string>
		<string>i7-640um</string>
		<string>i7-660lm</string>
		<string>i7-660ue</string>
		<string>i7-660um</string>
		<string>i7-680um</string>
		<string>i7-720qm</string>
		<string>i7-740qm</string>
		<string>i7-820qm</string>
		<string>i7-840qm</string>
		<string>i7-980x</string>
		<string>i7-990x</string>
		<string>i7-2535qm</string>
		<string>i7-2570qm</string>
		<string>i7-2610ue</string>
		<string>i7-2617m</string>
		<string>i7-2620m</string>
		<string>i7-2627m</string>
		<string>i7-2629m</string>
		<string>i7-2630qm</string>
		<string>i7-2635qm</string>
		<string>i7-2637m</string>
		<string>i7-2640m</string>
		<string>i7-2649m</string>
		<string>i7-2655le</string>
		<string>i7-2655qm</string>
		<string>i7-2657m</string>
		<string>i7-2660m</string>
		<string>i7-2667m</string>
		<string>i7-2669m</string>
		<string>i7-2670qm</string>
		<string>i7-2675qm</string>
		<string>i7-2677m</string>
		<string>i7-2685qm</string>
		<string>i7-2689m</string>
		<string>i7-2710qe</string>
		<string>i7-2715qe</string>
		<string>i7-2720qm</string>
		<string>i7-2740qm</string>
		<string>i7-2760qm</string>
		<string>i7-2820qm</string>
		<string>i7-2840qm</string>
		<string>i7-2860qm</string>
		<string>i7-2920xm</string>
		<string>i7-2960xm</string>
		<string>i7-3920xm</string>
		<string>i7-3940xm</string>
		<string>i7-3960x</string>
		<string>i7-3970x</string>
		<string>i7-4750hq</string>
		<string>i7-4760hq</string>
		<string>i7-4770hq</string>
		<string>i7-4770r</string>
		<string>i7-4850eq</string>
		<string>i7-4850hq</string>
		<string>i7-4860eq</string>
		<string>i7-4860hq</string>
		<string>i7-4870hq</string>
		<string>i7-4930mx</string>
		<string>i7-4940mx</string>
		<string>i7-4950hq</string>
		<string>i7-4960hq</string>
		<string>i7-4960x</string>
		<string>i7-4980hq</string>
		<string>i7-5500du</string>
		<string>i7-5750hq</string>
		<string>i7-5775c</string>
		<string>i7-5775r</string>
		<string>i7-5850eq</string>
		<string>i7-5850hq</string>
		<string>i7-5950hq</string>
		<string>i7-5960x</string>
		<string>i7-6498du</string>
		<string>i7-6500u</string>
		<string>i7-6560u</string>
		<string>i7-6567u</string>
		<string>i7-6600u</string>
		<string>i7-6650u</string>
		<string>i7-6660u</string>
		<string>i7-6700</string>
		<string>i7-6700hq</string>
		<string>i7-6700k</string>
		<string>i7-6700t</string>
		<string>i7-6700te</string>
		<string>i7-6770hq</string>
		<string>i7-6785r</string>
		<string>i7-6820eq</string>
		<string>i7-6820hk</string>
		<string>i7-6820hq</string>
		<string>i7-6822eq</string>
		<string>i7-6870hq</string>
		<string>i7-6920hq</string>
		<string>i7-6950x</string>
		<string>i7-6970hq</string>
		<string>i7-7500u</string>
		<string>i7-7510u</string>
		<string>i7-7560u</string>
		<string>i7-7567u</string>
		<string>i7-7600u</string>
		<string>i7-7660u</string>
		<string>i7-7700</string>
		<string>i7-7700hq</string>
		<string>i7-7700k</string>
		<string>i7-7700t</string>
		<string>i7-7740x</string>
		<string>i7-7820eq</string>
		<string>i7-7820hk</string>
		<string>i7-7820hq</string>
		<string>i7-7920hq</string>
		<string>i7-8550u</string>
		<string>i7-8650u</string>
		<string>i7-8670</string>
		<string>i7-8670t</string>
		<string>i7-8700</string>
		<string>i7-8700b</string>
		<string>i7-8700k</string>
		<string>i7-8700t</string>
		<string>i7-8705g</string>
		<string>i7-8706g</string>
		<string>i7-8709g</string>
		<string>i7-8750h</string>
		<string>i7-8809g</string>
		<string>i7-8850h</string>
		<string>i7-9700k</string>
		<string>i9-7900x</string>
		<string>i9-7920x</string>
		<string>i9-7940x</string>
		<string>i9-7960x</string>
		<string>i9-7980xe</string>
		<string>i9-8950hk</string>
		<string>m3-6y30</string>
		<string>m3-7y30</string>
		<string>m3-7y32</string>
		<string>m5-6y54</string>
		<string>m5-6y57</string>
		<string>m7-6y75</string>
		<string>p4500</string>
		<string>p4505</string>
		<string>p4600</string>
		<string>p6000</string>
		<string>p6100</string>
		<string>p6200</string>
		<string>p6300</string>
		<string>u3400</string>
		<string>u3405</string>
		<string>u3600</string>
		<string>u5400</string>
		<string>u5600</string>
		<string>w-2102</string>
		<string>w-2104</string>
		<string>w-2123</string>
		<string>w-2125</string>
		<string>w-2133</string>
		<string>w-2135</string>
		<string>w-2140b</string>
		<string>w-2145</string>
		<string>w-2150b</string>
		<string>w-2155</string>
		<string>w-2170b</string>
		<string>w-2175</string>
		<string>w-2190b</string>
		<string>w-2195</string>
	</array>
</dict>
</plist>
